<div class="fixed-top">
  <div class="row">
    <div class="col text-center bg-white">
      <h1>Recipeasy!</h1>
    </div>
  </div>

  <!-- https://getbootstrap.com/docs/4.0/examples/navbars/ -->
  <nav class="navbar navbar-expand navbar-dark bg-primary">
      <div class="collapse navbar-collapse" style="height: 40px;">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a [class.d-none]="!isConnected" [routerLink]="['/recipes']" class="text-light">Recipes</a>
              </li>
          </ul>

          <div class="btn-group mr-4" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
                    {{'lang' | translate}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" (click)="click('en')">en</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)="click('fr')">fr</a></li>
            </ul>
          </div>


          <a [class.d-none]="!isConnected" [routerLink]="['profile']" role="button" class="text-light mr-4">Profile</a>
          <button [class.d-none]="!isConnected" type="button" [routerLink]="['/']" (click)="logout()" class="btn btn-outline-light">Log out</button>


      </div>
  </nav>
</div>

<div class="pt-4" style="margin: 112px 0px 24px 0px;">

  <div class="container">
    <router-outlet></router-outlet>
  </div>


</div>

