<form [formGroup]="recipeForm" (ngSubmit)="recipeFormDone()" >
    <div class="form-group">
        <input formControlName="name" [class.is-invalid]="recipeForm.get('name')?.errors && recipeForm.get('name')?.touched && recipeForm.get('name')?.dirty" placeholder="Name" class="form-control" >
        <div class="invalid-feedback text-left">
          Name is required. Name is 15 characters max.
        </div>
    </div>

    <div class="form-group">
        <input formControlName="description" placeholder="Description" class="form-control" >
    </div>

    <div class="form-group">
      <select formControlName="category" class="form-control">
        <option disabled selected value="">Choose...</option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="diner">Diner</option>
      </select>
    </div>


    <div style="text-align: right;">

      <button  class="btn btn-outline-success" type="reset">Cancel</button>
      <button [disabled]="recipeForm.invalid" class="btn btn-primary" type="submit">Submit</button>

    </div>

  </form>


