<h1 style="text-align: center;">Recipes</h1>

<app-recipes-form (formDoneEvent)="formDone($event)"></app-recipes-form>

<div style="text-align: center;" class="mt-4">
  <app-recipes-list [recipeList]="recipes" (recipeClick)="recipeResponse($event)"></app-recipes-list>
</div>
