<h2>List</h2>

<div *ngIf="recipeList.length == 0; else showTable">
  You have no recipes !
</div>
<ng-template #showTable>
 <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipeList" app-recipes-list-item [recipe]="recipe" (recipeClicked)="recipeClicked($event)"></tr>
    </tbody>
  </table>
</ng-template>

