<div class="container text-center">
  <div class="row mt-2">
      <div class="col-10 offset-1">
          <!-- https://getbootstrap.com/docs/4.5/components/forms -->
          <form [formGroup]="loginForm" (ngSubmit)="logIn()" >
              <div class="form-group">
                  <input formControlName="email" [class.is-invalid]="loginForm.get('email')?.errors && loginForm.get('email')?.touched && loginForm.get('email')?.dirty" type="email" placeholder="Email" class="form-control" >
                  <div class="invalid-feedback text-left">
                    Provide a valid email address
                  </div>

                </div>

              <div class="form-group">
                  <input formControlName="password" [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.dirty && loginForm.get('password')?.touched" type="password" placeholder="Password" class="form-control" >
                  <div class="invalid-feedback text-left">
                    Password must be at least 3 characters long
                  </div>
              </div>

              <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

              <a [routerLink]="['signup']" class="btn btn-outline-success btn-block mt-4" role="button">Sign up</a>
          </form>
      </div>
  </div>
</div>
