<td>
  {{ recipe.name }}
</td>
<td>
  {{ recipe.description }}
</td>
<td>
  {{ recipe.category }}
</td>
<td>
  <button (click)="clicked('edit')" type="button" class="btn btn-sm btn-warning">View</button>
  <button style="margin: 0px 0px 0px 10px;" (click)="clicked('delete')" type="button" class="btn btn-sm btn-danger">Delete</button>
</td>
