<div class="container text-center">
  <div class="row mt-2">
      <div class="col-10 offset-1">
          <form [formGroup]="signupForm" (ngSubmit)="signUp()" >
              <div class="form-group">
                  <input formControlName="email" [class.is-invalid]="signupForm.get('email')?.errors && signupForm.get('email')?.dirty && signupForm.get('email')?.touched" type="email" placeholder="{{'email' | translate}}" class="form-control" >
                  <div class="invalid-feedback text-left">
                    {{'emailError' | translate}}
                  </div>
              </div>

              <div class="form-group">
                  <input formControlName="password" [class.is-invalid]="signupForm.get('password')?.errors && signupForm.get('password')?.dirty && signupForm.get('password')?.touched" type="password" placeholder="{{'password' | translate}}" class="form-control" >
                  <div class="invalid-feedback text-left">
                    {{'passwordError' | translate}}
                  </div>
              </div>

              <div class="form-group">
                  <input formControlName="passwordConfirm" [class.is-invalid]="signupForm.errors && signupForm.get('passwordConfirm')?.dirty && signupForm.get('passwordConfirm')?.touched" type="password" placeholder="{{'passwordConfirm' | translate}}" class="form-control" >
                  <div class="invalid-feedback text-left">
                    {{'passwordConfirmError' | translate}}
                  </div>
              </div>

              <button [disabled]="signupForm.invalid" class="btn btn-success btn-block" type="submit">{{'create' | translate}}</button>

              <a [routerLink]="['']" class="btn btn-outline-secondary btn-block mt-4" role="button">{{'cancel' | translate}}</a>

          </form>
      </div>
  </div>
</div>
